@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:700|Titillium+Web:200,400');

body {
  width: 100%;
  margin: 0px 0px;
  font-family: 'Titillium Web';
  font-weight: 400;
  font-size: 18pt;
}

#title {
  width: 100%;
  height: 100vh;
  display: table;
  background-size: cover;
  background-image: url('../images/north_slope.jpg');
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

div.display {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 5vh;
}

h1 {
  font-weight: 200;
}

h2, h3 {
  font-weight: 400;
}

h1 {
  font-size: 96pt;
}

h2 {
  font-size: 24pt;
}

.pymodule {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  text-align: right;
  padding-right: 1em;
}

.subtitle {
  margin: 1em 0.5em;
}

div.container {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

small a {
  color: rgba(255,255,255,0.9);
}

a {
  color: #16305d;
}

a.button {
  display: inline-block;
  padding: 5px 25px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}

a.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 0.2s;
}

div.pymodule a {
  color: #333;
  transition-duration: 0.3s;
}

div.pymodule a:hover {
  color: #555;
  text-decoration: none;
  transition-duration: 0.2s;
}

footer {
  text-align: center;
  margin: 0px auto;
  padding: 2em 2em;
  background-color: rgba(30, 30, 30, 1.0);
}

section, footer {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  padding: 2em;
}

section#raster {
  background-color: rgba(100,100,100,0.5);
}

section#vector {
  background-color: rgba(100,100,100,0.3);
}

section#geodesy {
  background-color: rgba(100,100,100,0.5);
}

