*.pyc
*.so
*.swp
*.png
*.lprof

test_*.py
.vscode/*

*.html
*.ipynb_checkpoints
*.ipynb
!doc/source/*.ipynb
doc/source/*.json
doc/source/*.dbf
doc/source/*.shp
doc/source/*.shx

build/
data/
dist/
doc/build/
figures/
papers/
tests/.coverage
tests/data/
tests/reference_data/
tests/htmlcov/

karta.egg-info/
.eggs/*

