*.pyc
*.so
*.c
*.swp
*.png

*.html
*.ipynb_checkpoints
*.ipynb
!doc/source/*.ipynb
doc/source/*.json
doc/source/*.dbf
doc/source/*.shp
doc/source/*.shx

build/
data/
dist/
doc/build/
tests/.coverage
tests/data/
tests/htmlcov/

karta.egg-info/

