
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),url(//brick.a.ssl.fastly.net/fonts/roboto/400.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'),url(http://brick.a.ssl.fastly.net/fonts/roboto/700.woff) format('woff');
}

.center {
  text-align:center;
}

body {
  padding:2em;
  font:16px/1.3 Roboto, Helvetica, Arial, sans-serif;
  color:#000;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  margin:0 0 10px;
}


h1, h2, h3 {
  line-height:1.5;
}

h1 {
  font-size:32px;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size:12px;
}

pre {
  color:#CCC;
  padding:8px 15px;
  margin:10px;
  background:#111;  
  border-radius:8px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}


img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
}


strong {
  font-weight:700;
}

section {
  width:80%;
  max-width: 50em;
  margin: auto;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
  }
}
